@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-boldItalic.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-regularItalic.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-light.ttf) format('ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-lightItalic.ttf) format('ttf');
}

/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-heb-italic-300.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-lat-italic-300.woff2) format('woff2');
}
/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-heb-italic-400.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-lat-italic-400.woff2) format('woff2');
}
/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-heb-italic-700.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-lat-italic-700.woff2) format('woff2');
}
/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-heb-normal-300.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(open-sans-lat-normal-300.woff2) format('woff2');
}
/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-heb-normal-400.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(open-sans-lat-normal-400.woff2) format('woff2');
}
/* hebrew */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-heb-normal-700.woff2) format('woff2');
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(open-sans-lat-normal-700.woff2) format('woff2');
}